{% extends "website/base.html" %}

{% block content %}
<div>
    <img class="img2" src="/static/img/Team-1.jpg" alt="CEO">
    <h2 class="pos">Chief Executive Officer</h2>
    
    <h3>Henry Cavill</h3>


</div>
<div>
    <img class="img2" src="/static/img/Team-2.jpg" alt="CFO">
    <h2 class="pos">Chief Financial Officer</h2>
    
    <h3>Robert pattinson</h3>
</div>
<div>
    <img class="img2" src="/static/img/team3.png" alt="COO">
    <h2 class="pos">Chief Operating Officer</h2>
    <h3>Margot Robbie</h3>


</div>
<div>
    <img class="img2" src="/static/img/Team-3.jpg" alt="CMO">
    <h2 class="pos">Chief Marketing Officer</h2>
    <h3>Jason Momoa</h3>

</div>
<div>
    <img class="img2" src="/static/img/Team-5.jpg" alt="CTO">
    <h2 class="pos">Chief Technology Officer</h2>
    <h3>Amber Heard</h3>

</div>
<div>
    <img class="img2" src="/static/img/Team-4.jpg" alt="founder">
    <h2 class="pos">Founder</h2>
    <h3>Sanjay Boven</h3>

</div>


{% endblock  %}