{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/-1.jpg" alt="product image">
            </div>
            <div class="itemname">HyperX Impact 16GB 2666MHz DDR4 CL15 260-Pin SODIMM Laptop Memory (HX426S15IB2/16)</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/item-2.jpg"  alt="product image">
            </div>
            <div class="itemname">Gigabyte GeForce GT 710 2GB Graphic Cards and Support PCI Express 2.0 X8 Bus Interface. Graphic Cards Gv-N710D5-2Gil</div>
            <div class="itemprice">Price: Rs.3400.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/item2.jpg" alt="product img">   
            </div>
            <div class="itemname">TP-Link AC750 Wifi Range Extender | Up to 750Mbps | Dual Band WiFi Extender, Repeater, Wifi Signal Booster, Access Point| Easy Set-Up | Extends Wifi to Smart Home & Alexa Devices (RE200)</div>
            <div class="itemprice">Price: Rs.2030.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/item1.jpg" alt="product img">    
            </div>
            <div class="itemname">TP-Link RE205 AC750 Universal Wireless Dual Band Range Extender, Broadband/Wi-Fi Extender, WiFi Booster/Hotspot with Ethernet Port, 2 External Antennas, Plug and Play, Smart Signal Indicator, 750Mbps</div>
            <div class="itemprice">Price: Rs.2700.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/item7.jpg" alt="product img">    
            </div>
            <div class="itemname">TP-Link RE205 AC750 Universal Wireless Dual Band Range Extender, Broadband/Wi-Fi Extender, WiFi Booster/Hotspot with Ethernet Port, 2 External Antennas, Plug and Play, Smart Signal Indicator, 750Mbps</div>
            <div class="itemprice">Price: Rs.2700.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/item3.jpg" alt="product img">    
            </div>
            <div class="itemname">AMD Ryzen 3 3200G with RadeonVega 8 Graphics Desktop Processor 4 Cores up to 4GHz 6MB Cache AM4 Socket (YD3200C5FHBOX)</div>
            <div class="itemprice">Price: Rs.10,600.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/item4.jpg" alt="product img">    
            </div>
            <div class="itemname">Gigabyte GA-H61M-S Intel 3rd Motherboard / Intel H61 Chipset / Socket 115 / PCI-EX 16 Generation 3 / Micro ATX / Dual Channel DDR3 x 2 / HD Audio / Gbe LAN / 3Gb/s SATA x 4 / USB 2.0</div>
            <div class="itemprice">Price: Rs.6,220.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/item5.jpg" alt="product img">    
            </div>
            <div class="itemname">Samsung 860 EVO 250GB SATA 2.5" Internal Solid State Drive (SSD) (MZ-76E250)</div>
            <div class="itemprice">Price: Rs.4,220.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/item6.jpg" alt="product img">    
            </div>
            <div class="itemname">GIGABYTE SSD 1TB</div>
            <div class="itemprice">Price: Rs.9,120.00</div>
        </div>
    </div>
    </div>
{% endblock  %}